body {
  font-family: 'Roboto', sans-serif;
}

hr, .short {
  margin: 1.875rem 0;
  width: 2.8rem;
}

th {
  width: 6.375rem;
  height: 10.324rem;
}

/* navbar */
.container-fluid {
  padding: 2.5% 3%;
  margin-left: 5%;
}

.logo {
  width: 150px;
  height: 44.33px;
  text-align: center;
  margin-left: 10%;
}

.logo-text {
  text-align: right;
}

/* button */
.button {
  background-color: white;
  color: black;
  border: 0.05rem solid #e7e7e7;
  padding: 1.5% 4%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0.5% 2%;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  border: 0.05rem solid black;
}

.button1 {
  background-color: orangered;
  color: white;
  padding: 1.5% 4%;
  text-align: center;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0.5% 6% 0.5% 0;
  border-radius: 6px;
  cursor: pointer;
}

.button1:hover {
  background-color: coral;
}

/* first div */
.first-div {
  background-color: #F8F8F8;
  text-align: center;
  font-size: 2rem;
}

.moving-text {
  padding: 5rem 0;
}

.maqsam-bold {
  font-weight: bolder;
}

.screen-shoot {
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/* second div */
.second-div {
  padding: 3.5% 0;
  text-align: center;
}

.button2 {
  background-color: #ff0a0a;
  color: white;
  padding: 3% 10%;
  text-align: center;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 4%;
}

.button2:hover {
  background-color: orangered;
}

.second-div-p {
  font-size: 1.2rem;
}

.second-div-p1 {
  font-size: 1.2rem;
  font-weight: lighter;
}

/* fixed background image div */
.fixed-img {
  opacity: 1;
  /* opacity makes iamge blury, 1 is sharp and 0.something is blury. opacity can be used as hover state too */
  width: 100%;
}

.fixed-img-div {
  position: relative;
}

.fixed-img-text {
  background-color: white;
  border-radius: 8px;
  padding: 5%;
  position: absolute;
  bottom: 30%;
  left: 5%;
  width: 40%;
}

/* third div */
.third-div {
  background-color: #F8F8F8;
  padding: 3% 0 3% 7%;
}

.row.third-div {
  margin-right: 0;
}

.third-div-text {
  font-weight: lighter;
  font-size: 1.2rem;
}

.third-div-img {
  width: 10rem;
  height: 2.5rem;
}

/* carousel-table */
.carousel-table {
  background-color: white;
  opacity: 1;
  text-align: center;
  width: 95%;
  padding: 3% 0 5% 8%;
}

.table-text {
  text-align: center;
  font-weight: lighter;
}

.carousel-table-img {
  width: 3.2rem;
  height: 3.2rem;
}

.carousel-table-div {
  width: 8rem;
  height: 8rem;
  display: inline-block;
}

.carousel-table-div:hover {
  opacity: 0.5;
}

/* carousel image with text */
.carousel-div {
  padding: 0 0 5% 10%;
}

.carousel-hero-image {
  width: 40rem;
  height: 25rem;
}

.carousel-div-text {
  float: right;
  margin-left: 5%;
  line-height: 2rem;
}

.carousel-p1 {
  font-size: 1.7rem;
  font-weight: lighter;
  padding-bottom: 5%;
}

.carousel-p2 {
  font-size: 1.2rem;
  font-weight: lighter;
}

.carousel-p3 {
  font-size: 0.8rem;
  font-weight: lighter;
}

/* insight api call broswe speed test */
.insight-text, .api-text, .call-text, .browser-text, .speed-text {
  padding-top: 2%;
}

/* customer-care globe roam text */
.customer-care-text, .globe-text, .roam-text {
  padding-top: 3%;
}

/* Economic connectivity */
.economic-connectivity-img {
  width: 100%;
  height: 60%;
  filter: brightness(50%);
  /* filter brightness (<100%) is used to darken images and above that is used to lighten images */
}

.economic {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.economic-text-0 {
  font-size: 2rem;
  padding-bottom: 3%;
}

.economic-text-1 {
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: lighter;
}

/* cards */
.price-div {
  padding: 10% 0 5% 7%;
}

.card-div {
  border: 0.05rem solid #e5e4e2;
  display: inline-block;
  position: absolute;
  border-radius: 8px;
  padding: 3% 5%;
}

.card-div.col-md-4 {
  width: 30%;
}

.awesome-icon {
  width: 5%;
}

.card-list {
  padding-left: 0;
  font-size: 0.9rem;
  font-weight: lighter;
}

.card-hr {
  width: 80%;
  margin: 10% 5%;
}

.card-inner {
  padding: 0 8%;
}

.card-div-2 {
  margin: 0 1%;
  top: -5rem;
}

.card-div-1 {
  top: -7rem;
}

.card-div-3 {
  top: 4rem;
}

/* card text */
.card-p1, .card-p2 {
  font-size: 2rem;
  line-height: 1.8rem;
  font-weight: lighter;
}

.card-p2 {
  font-weight: bold;
  padding-bottom: 5%;
}

.card-p3 {
  font-size: 0.7rem;
  font-weight: lighter;
}

.tiny-card-text {
  font-size: 0.7rem;
  font-weight: lighter;
}

/* card button */
.btn {
  margin-top: 20%;
}

.tiny-card-text-button {
  margin-top: 10%;
}

.standard-button {
  border: none;
  /* to ensure that no border */
  color: white;
  padding: 3% 6%;
  text-align: center;
  display: inline-block;
  font-size: 0.6rem;
  cursor: pointer;
  background-color: #264348;
  border-radius: 40px;
  /* for its position */
  position: relative;
  top: 10%;
  left: 60%;
}

/* last carousel */
.last-carousel-div {
  padding: 0 0 3% 0;
}

.avatar-img {
  width: 15%;
}

/* avatar text */
.avatar-text {
  float: right;
  color: white;
  left: -30%;
}

.avatar-text-div {
  margin-left: 18%;
}

.avatar-p1 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.avatar-p2 {
  font-size: 0.8rem;
  line-height: 0.5rem;
}

/* screenshot carousel img positioning */
.screen-shot-carousel {
  position: relative;
  left: 1%;
  height: auto;
  top: 6rem;
  filter: brightness(40%);
}

.carousel-item.avatar-text-div {
  bottom: 9rem;
}

/* last container */

.last-container {
  background-color: #f5f5f5;
  width: 100.9%;
  padding: 5% 0;
}

.form-control {
  margin: 5% 0;
}

/* TEXT */
.last-container-p {
  margin-left: 10%;
}

.team-form-img {
  padding-bottom: 10%;
  width: 90%;
  height: 100%;
}

.last-container-p1 {
  font-size: 2.2rem;
  height: 2.7rem;
}

.last-container-p2 {
  font-size: 2rem;
  font-weight: lighter;
  padding: 0 0 2% 0;
}

.p3-text {
  font-weight: lighter;
  line-height: 0.5rem;
  font-size: 0.9rem;
}

.p4-text {
  font-weight: lighter;
  font-size: 0.9rem;
}

/* button */
.btn {
  margin-top: 5%;
  opacity: 0.8;
}

/* base */
.base {
  background-color: #d3d3d3;
  padding: 5%;
}

.base-logo {
  width: 8%;
}

.base-text-p {
  display: inline-block;
  padding: 0 0 0 2%;
  font-size: 0.7rem;
  font-weight: lighter;
}
